@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --font-mono: "Geist Mono", monospace;
}

@layer base {
  :root {
    /* TEMA LIGHT */
    --background: #ffffff;
    --foreground: #09090b;
    --card: #f4f4f5;
    --card-foreground: #18181b;
    --border: #e4e4e7;
    --primary: #10b981;
  }

  .dark {
    /* TEMA DARK */
    --background: #050505;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --border: #27272a;
    --primary: #10b981;
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;

    /* Grid Pattern */
    background-image:
      linear-gradient(to right, var(--border) 1px, transparent 1px),
      linear-gradient(to bottom, var(--border) 1px, transparent 1px);
    background-size: 50px 50px;

    background-attachment: fixed;
  }
}

/* --- REVISI: FADE TRANSITION OVERLAY --- */
.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 9999;

  /* LOGIKA FADE (Opacity) */
  opacity: 0; /* Awalnya tidak terlihat */
  pointer-events: none; /* Tembus pandang/klik saat tidak aktif */

  /* Durasi transisi 0.5 detik */
  transition: opacity 0.5s ease-in-out;
}

/* SAAT AKTIF: Muncul penuh */
.fade-overlay.active {
  opacity: 1;
  pointer-events: all; /* Blokir layar biar user gak klik apa-apa */
}
